.LoginImage-overlap-group-wrapper {
  background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgb(233.75, 255, 245.89) 51%);
  height: 1080px;
  left: 0;
  position: absolute;
  top: 97px;
  width: 941px;
}

.LoginImage-overlap-group {
  height: 862px;
  position: relative;
  top: 121px;
}

.LoginImage-vector {
  height: 377px;
  left: 0;
  position: absolute;
  top: 485px;
  width: 941px;
}

.LoginImage-border-color {
  height: 117px;
  left: 276px;
  position: absolute;
  top: 461px;
  width: 117px;
}

.LoginImage-forum {
  height: 72px;
  left: 372px;
  position: absolute;
  top: 102px;
  width: 72px;
}

.LoginImage-business-messages {
  height: 72px;
  left: 746px;
  position: absolute;
  top: 222px;
  width: 72px;
}

.LoginImage-edit-document {
  height: 189px;
  left: 470px;
  position: absolute;
  top: 258px;
  width: 189px;
}

.LoginImage-mic {
  height: 120px;
  left: 79px;
  position: absolute;
  top: 278px;
  width: 120px;
}

.LoginImage-vector-2 {
  height: 633px;
  left: 0;
  position: absolute;
  top: 229px;
  width: 941px;
}

.LoginImage-vector-3 {
  height: 460px;
  left: 0;
  position: absolute;
  top: 0;
  width: 941px;
}

.LoginImage-vector-4 {
  height: 230px;
  left: 0;
  position: absolute;
  top: 538px;
  width: 869px;
}