.a {
  background-color: #ffffff;
  height: 1469px;
  position: relative;
  width: 1920px;
}

.a .sign-up {
  background-color: #ffffff;
  height: 992px;
  left: 617px;
  position: absolute;
  top: 283px;
  width: 687px;
}

.a .content {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 32px;
  left: 97px;
  position: relative;
  top: 9px;
}

.a .frame {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 54px;
  position: relative;
}

.a .div {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 32px;
  position: relative;
}

.a .frame-2 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 12px;
  position: relative;
}

.a .text-field {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 4.17px;
  position: relative;
  width: 492.87px;
}

.a .label-wrapper {
  align-self: stretch;
  height: 28.13px;
  position: relative;
  width: 100%;
}

.a .label {
  color: var(--variable-collection-gray-1);
  font-family: "Pretendard Variable-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: -1px;
}

.a .text-field-2 {
  font-size: 22px;
  font-family: "Pretendard Variable-Regular", Helvetica;
  padding: 10px;
  align-self: stretch;
  border: 1.04px solid;
  border-color: var(--variable-collection-gray-3);
  border-radius: 12.5px;
  height: 58.35px;
  position: relative;
  width: 100%;
}

.a .frame-3 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 4px;
  position: relative;
  width: 100%;
}

.a .text-field-3 {
  font-size: 22px;
  font-family: "Pretendard Variable-Regular", Helvetica;
  padding: 10px;
  border: 1.04px solid;
  border-color: var(--variable-collection-gray-3);
  border-radius: 12.5px;
  flex: 1;
  flex-grow: 1;
  height: 58.35px;
  overflow: hidden;
  position: relative;
}

.a .div-wrapper {
  align-items: flex-start;
  background-color: var(--variable-collection-gray-3);
  border-radius: 12.5px;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  overflow: hidden;
  padding: 17px 38px;
  position: relative;
}

.a .text-wrapper {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  color: #000000;
  font-family: "Pretendard Variable-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.04px;
  position: relative;
  width: fit-content;
}

.SignUpPage-line {
  height: 2px;
  object-fit: cover;
  position: relative;
  width: 493px;
}

.a .frame-4 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 4px;
  position: relative;
}

.a .text-field-wrapper {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 4px;
  position: relative;
}

.a .text-field-4 {
  border: 1.04px solid;
  border-color: var(--variable-collection-gray-3);
  border-radius: 12.5px;
  height: 58.35px;
  overflow: hidden;
  position: relative;
  width: 244.44px;
}

.a .label-2 {
  color: var(--variable-collection-gray-1);
  font-family: "Pretendard Variable-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 22px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 18px;
}

.a .arrow-drop-down {
  height: 24px;
  left: 204px;
  position: absolute;
  top: 17px;
  width: 24px;
}

.a .text-field-5 {
  font-size: 22px;
  padding: 10px;
  border: 1.04px solid;
  border-color: var(--variable-collection-gray-3);
  border-radius: 12.5px;
  flex: 1;
  flex-grow: 1;
  height: 58.35px;
  position: relative;
}

.a .frame-5 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  position: relative;
  width: 100%;
}

.a .check-box {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.a .p {
  color: var(--variable-collection-sub-black);
  flex: 1;
  font-family: "Pretendard Variable-Regular", Helvetica;
  font-size: 16.7px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
}

.a .span {
  color: #ff0000;
}

.a .text-wrapper-2 {
  color: #333333;
}

.a .img {
  height: 24px;
  position: relative;
  width: 24px;
}

.a .frame-6 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 12px;
  position: relative;
  width: 100%;
}

.a .frame-7 {
  align-items: center;
  align-self: stretch;
  background-color: var(--variable-collection-sub-black);
  border-radius: 500px;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  padding: 16px 0px;
  position: relative;
  width: 100%;
}

.a .text-wrapper-3 {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  color: #ffffff;
  font-family: "Pretendard Variable-SemiBold", Helvetica;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  text-align: center;
  width: fit-content;
}

.a .div-2 {
  color: #666666;
  font-family: "Pretendard Variable-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.a .text-wrapper-4 {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  font-size: 16px;
  font-family: "Pretendard Variable-Regular", Helvetica;
  color: #333333;
  text-decoration: underline;
}

.text-field-3.duplicate {
  border: 2px solid red;
}

.id-check-message.duplicate {
  color: red;
  font-size: 16px;
  font-weight: 450;
  font-family: "Pretendard Variable-Regular", Helvetica;
  padding-top: 5px;
  padding-left: 10px;
  padding-bottom: 5px;
}

.id-check-message.available {
  color: green;
  font-size: 16px;
  font-weight: 450;
  font-family: "Pretendard Variable-Regular", Helvetica;
  padding-top: 5px;
  padding-left: 10px;
  padding-bottom: 5px;
}


.A-frame-3 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
}

.A-text-field {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 4.17px;
  position: relative;
  width: 492.87px;
}

.A-frame-4 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 4px;
  position: relative;
}

.A-text-field-wrapper {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 4px;
  position: relative;
}

.A-text-field-3 {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  border: 1.04px solid;
  border-color: var(--variable-collection-gray-3);
  border-radius: 12.5px;
  height: 58.35px;
  overflow: hidden;
  position: relative;
  width: 244.44px;
}

.A-text-wrapper {
  color: var(--variable-collection-gray-1);
  font-family: "Pretendard Variable-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 22px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 18px;
}

.A-arrow-drop-up {
  height: 24px;
  left: 204px;
  position: absolute;
  top: 18px;
  width: 24px;
}

.A-frame-5 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 4px;
  margin-top: -1px;
  position: relative;
}

.A-frame-6 {
  align-items: flex-start;
  background-color: #ffffff;
  border: 1px solid;
  border-color: var(--variable-collection-gray-3);
  border-radius: 12px;
  box-shadow: 0px 0px 10px #0000000d;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 16px 64px 16px 20px;
  position: relative;
  width: 244px;
  height: 130px;
  overflow-y: scroll;
}

.A-frame-6::-webkit-scrollbar {
  width: 8px;
}
.A-frame-6::-webkit-scrollbar-thumb {
  background-color: var(--variable-collection-gray-3);
  border-radius: 10px;
}
.A-frame-6::-webkit-scrollbar-track {
  background-color: none;
  margin-top: 5px;
  margin-bottom: 5px;
}
.A-frame-6::-webkit-scrollbar-thumb:hover {
  background: #666666; /* hover 시 thumb 배경색 */
}

.A-text-wrapper-2 {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  color: var(--variable-collection-gray-1);
  font-family: "Pretendard Variable-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.42px;
  line-height: 21px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.error {
  border: 2px solid red !important;
}

.error-message {
  color: red;
  font-size: 16px;
  font-weight: 450;
  font-family: "Pretendard Variable-Regular", Helvetica;
  padding-top: 5px;
  padding-left: 10px;
  padding-bottom: 5px;
}

.error-message-2 {
  color: red;
  font-size: 16px;
  font-weight: 450;
  font-family: "Pretendard Variable-Regular", Helvetica;
  padding-top: 5px;
  padding-bottom: 5px;
}

.confirmation-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.confirmation-box {
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  z-index: 1001;
}

.B-frame-17 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
  position: relative;
}

.B-text-wrapper-12 {
  color: var(--variable-collection-main-black);
  font-family: "Pretendard Variable-SemiBold", Helvetica;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -0.72px;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.B-text-wrapper-13 {
  color: var(--variable-collection-gray-1);
  font-family: "Pretendard Variable-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.48px;
  line-height: 24px;
  position: relative;
  text-align: center;
  width: fit-content;
}

.B-frame-18 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  position: relative;
}

.B-frame-19 {
  align-items: center;
  background-color: var(--variable-collection-gray-3);
  border-radius: 8px;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  padding: 12px 80px;
  position: relative;
}

.B-text-wrapper-14 {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  color: var(--variable-collection-main-black);
  font-family: "Pretendard Variable-SemiBold", Helvetica;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: -0.6px;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}
