.InfoSquare-frame-5 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 12px;
  position: relative;
}

.InfoSquare-frame-11 {
  cursor: pointer;
  align-items: flex-start;
  background-color: #ffffff;
  border: 1px solid;
  border-color: var(--variable-collection-gray-3);
  border-radius: 8px;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 42px;
  justify-content: center;
  overflow: hidden;
  padding: 40px 40px;
  position: relative;
}

.InfoSquare-image {
  height: 200px;
  object-fit: cover;
  position: relative;
  width: 400px;
}

.InfoSquare-text-wrapper-6 {
  color: var(--variable-collection-gray-1);
  font-family: "Pretendard Variable-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.48px;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.InfoSquare-frame-12 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  position: relative;
}

.InfoSquare-text-wrapper-7 {
  color: var(--variable-collection-main-black);
  font-family: "Pretendard Variable-Bold", Helvetica;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -0.72px;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.InfoSquare-text-wrapper-8 {
  color: var(--variable-collection-main-black);
  font-family: "Pretendard Variable-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -0.6px;
  line-height: normal;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.InfoSquare-frame-13 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 80px;
  position: relative;
}

.InfoSquare-frame-14 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 30px;
  position: relative;
}

.InfoSquare-text-wrapper-9 {
  color: var(--variable-collection-gray-1);
  font-family: "Pretendard Variable-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -0.6px;
  line-height: 30px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.InfoSquare-text-wrapper-11 {
  color: var(--variable-collection-main-black);
  font-family: "Pretendard Variable-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -0.6px;
  line-height: 30px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}
