.JobPostingSelect-frame-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
  width: 1300px;
}

.JobPostingSelect-frame-3 {
  align-items: flex-end;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  position: relative;
  width: 1300px;
}

.JobPostingSelect-text-wrapper-2 {
  color: var(--variable-collection-main-black);
  font-family: "Pretendard Variable-SemiBold", Helvetica;
  font-size: 24px;
  font-weight: 600;
  height: 29px;
  letter-spacing: -0.72px;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: 32px;
}

.JobPostingSelect-text-wrapper-3 {
  color: var(--variable-collection-main-black);
  flex: 1;
  font-family: "Pretendard Variable-SemiBold", Helvetica;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -0.72px;
  line-height: normal;
  margin-top: -1px;
  position: relative;
}

.JobPostingSelect-frame-4 {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  position: relative;
  width: 1300px;
}

.JobPostingSelect-frame-5 {
  cursor: pointer;
  align-items: center;
  background-color: var(--variable-collection-WHITE);
  border: 1px solid;
  border-color: var(--variable-collection-gray-3);
  border-radius: 12px;
  display: flex;
  gap: 4px;
  padding: 12px 28px;
  position: relative;
  width: 634px;
  z-index: 1;
}

.JobPostingSelect-close {
  cursor: pointer;
  height: 24px;
  position: relative;
  width: 24px;
}

.JobPostingSelect-img {
  height: 24px;
  position: relative;
  width: 24px;
}

.JobPostingSelect-text-wrapper-4 {
  color: var(--variable-collection-main-black);
  flex: 1;
  font-family: "Pretendard Variable-SemiBold", Helvetica;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: -0.6px;
  line-height: 30px;
  margin-top: -1px;
  position: relative;
}

.JobPostingSelect-frame-6 {
  cursor: pointer;
  align-items: center;
  background-color: var(--variable-collection-WHITE);
  border: 1px solid;
  border-color: var(--variable-collection-gray-3);
  border-radius: 12px;
  display: flex;
  gap: 8px;
  padding: 12px 28px;
  position: relative;
  width: 634px;
  z-index: 100;
}

.JobPostingSelect-frame-7 {
  align-items: flex-start;
  border: 1px solid;
  border-color: var(--variable-collection-gray-3);
  background-color: var(--variable-collection-WHITE);
  border-radius: 12px;
  display: flex;
  height: 180px;
  justify-content: space-between;
  position: relative;
  width: 634px;
  margin-top: -20px;
}

.JobPostingSelect-frame-8 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 248px;
  margin-top: 15px;
  max-height: 163px;
  overflow-y: auto;
}
.JobPostingSelect-frame-8::-webkit-scrollbar {
  width: 8px;
}
.JobPostingSelect-frame-8::-webkit-scrollbar-thumb {
  background-color: var(--variable-collection-gray-3);
  border-radius: 10px;
}
.JobPostingSelect-frame-8::-webkit-scrollbar-track {
  background-color: none;
}
.JobPostingSelect-frame-8::-webkit-scrollbar-thumb:hover {
  background: #666666;
}

.JobPostingSelect-frame-9 {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--variable-collection-mint);
  border-radius: 12px;
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  padding: 4px 0px 4px 28px;
  position: relative;
  width: 100%;
}

.JobPostingSelect-text-wrapper-5 {
  cursor: pointer;
  color: var(--variable-collection-gray-1);
  font-family: "Pretendard Variable-SemiBold", Helvetica;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: -0.48px;
  line-height: 24px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.JobPostingSelect-frame-10 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  padding: 4px 0px 4px 28px;
  position: relative;
  width: 100%;
}

.JobPostingSelect-text-wrapper-6 {
  cursor: pointer;
  color: var(--variable-collection-gray-1);
  font-family: "Pretendard Variable-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.48px;
  line-height: 24px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.JobPostingSelect-frame-13 {
  align-items: center;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 10px;
  height: 180px;
  justify-content: center;
  position: relative;
}

.JobPostingSelect-p {
  color: var(--variable-collection-gray-1);
  font-family: "Pretendard Variable-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.42px;
  line-height: 21px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
  margin-top: 15px;
}

.JobPostingSelect-toggle-wrapper {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 4px;
  position: relative;
}

.JobPostingSelect-frame-14 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 384px;
  margin-top: 15px;
  max-height: 163px;
  overflow-y: auto;
}
.JobPostingSelect-frame-14::-webkit-scrollbar {
  width: 8px;
}
.JobPostingSelect-frame-14::-webkit-scrollbar-thumb {
  background-color: var(--variable-collection-gray-3);
  border-radius: 10px;
}
.JobPostingSelect-frame-14::-webkit-scrollbar-track {
  background-color: none;
}
.JobPostingSelect-frame-14::-webkit-scrollbar-thumb:hover {
  background: #666666;
}

.JobPostingSelect-frame-20 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 12px;
  height: 29px;
  position: relative;
}

.JobPostingSelect-frame-21 {
  align-items: center;
  background-color: var(--variable-collection-button-navy);
  border-radius: 4px;
  display: inline-flex;
  flex: 0 0 auto;
  padding: 0px 2px 0px 8px;
  position: relative;
}

.JobPostingSelect-frame-22 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  position: relative;
}

.JobPostingSelect-text-wrapper-10 {
  color: var(--variable-collection-WHITE);
  font-family: "Pretendard Variable-SemiBold", Helvetica;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: -0.45px;
  line-height: normal;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.JobPostingSelect-chevron-right {
  height: 24px;
  margin-left: -4px;
  position: relative;
  width: 24px;
}

.JobPostingSelect-text-wrapper-11 {
  color: var(--variable-collection-WHITE);
  font-family: "Pretendard Variable-SemiBold", Helvetica;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: -0.45px;
  line-height: normal;
  margin-left: -4px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}