.JobPostingList-frame-18 {
  margin-top: 50px;
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 40px;
  position: relative;
  width: 1300px;
}

.JobPostingList-div {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 20px;
  position: relative;
}

.JobPostingList-text-wrapper-8 {
  color: var(--variable-collection-main-black);
  font-family: "Pretendard Variable-Regular", Helvetica;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: -0.72px;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: 1300px;
}

.JobPostingList-frame-19 {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  gap: 12px;
  position: relative;
  width: 618px;
}

.JobPostingList-toggle {
  cursor: pointer;
  align-items: flex-start;
  background-color: #ffffff;
  border: 1px solid;
  border-color: var(--variable-collection-gray-3);
  display: flex;
  gap: 10px;
  padding: 8px 12px;
  position: relative;
  width: 140px;
}

.JobPostingList-frame-20 {
  align-items: flex-start;
  border: 1px solid;
  border-color: var(--variable-collection-gray-3);
  display: flex;
  gap: 10px;
  padding: 8px 12px;
  position: relative;
  width: 140px;
}

.JobPostingList-text-wrapper-9 {
  color: var(--variable-collection-gray-1);
  flex: 1;
  font-family: "Pretendard Variable-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.48px;
  line-height: 24px;
  margin-top: -1px;
  position: relative;
}

.JobPostingList-img {
  height: 24px;
  position: relative;
  width: 24px;
}

.JobPostingList-frame-21 {
  align-items: flex-start;
  border: 1px solid;
  border-color: var(--variable-collection-gray-3);
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 10px;
  padding: 8px 12px;
  position: relative;
}

.search-input {
  font-family: "Pretendard Variable-Regular", Helvetica;
  font-weight: 400;
  color: var(--variable-collection-main-black);
  border: none; 
  font-size: 18px;
  outline: none;
}

.search-input::placeholder {
  font-family: "Pretendard Variable-Regular", Helvetica;
  font-weight: 400;
  font-size: 16px; 
}

.JobPostingList-search {
  cursor: pointer;
  filter: grayscale(1) brightness(0.2);
  height: 24px;
  position: relative;
  width: 24px;
}

.JobPostingList-toggle-frame {
  align-items: flex-start;
  border: 1px solid;
  border-color: var(--variable-collection-gray-3);
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  margin-top: -20px;
  padding: 2px 0px;
  position: relative;
}

.JobPostingList-toggle-frame-2 {
  cursor: pointer;
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  padding: 8px 12px;
  position: relative;
  width: 138px;
}

.JobPostingList-toggle-text-wrapper {
  color: var(--variable-collection-gray-1);
  flex: 1;
  font-family: "Pretendard Variable-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.48px;
  line-height: 23px;
  position: relative;
}

.JobPostingList-frame-22 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 30px;
  position: relative;
}

.JobPostingList-frame-23 {
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  gap: 60px;
  position: relative;
  width: 100%;
}

.JobPostingList-frame-24 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 4px;
  position: relative;
  width: 17%;
}

.JobPostingList-text-wrapper-10 {
  color: var(--variable-collection-main-black);
  font-family: "Pretendard Variable-Regular", Helvetica;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: -0.72px;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
  line-height: 1.5;
  transform: translateY(-4%);
}

.JobPostingList-frame-25 {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 80%;
}

.JobPostingList-frame-26 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 15px;
  position: relative;
  width: 100%;
}

.JobPostingList-frame-27 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 16px;
  position: relative;
  width: 100%;
}

.JobPostingList-frame-28 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  position: relative;
  width: 100%;
}

.JobPostingList-text-wrapper-11 {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  color: var(--variable-collection-main-black);
  display: -webkit-box;
  font-family: "Pretendard Variable-Regular", Helvetica;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: -0.72px;
  line-height: normal;
  margin-top: -1px;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  text-overflow: ellipsis;
  width: 100%;
}

.JobPostingList-scrapAndComment {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 14px;
  position: relative;
  width: 100%;
  left: -4px;
  margin-top: -5px;
}

.JobPostingList-scrap-wrapper {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  position: relative;
}

.JobPostingList-scrap {
  height: 32px;
  position: relative;
  width: 32px;
}

.scraped {
  filter: sepia(90%) saturate(250%) hue-rotate(30deg) brightness(140%) contrast(90%);
}

.JobPostingList-scrapCounts {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  color: var(--variable-collection-gray-1);
  display: -webkit-box;
  font-family: "Pretendard Variable-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.48px;
  line-height: normal;
  margin-top: -1px;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: fit-content;
}

.JobPostingList-comment-wrapper {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 4px;
  position: relative;
}

.JobPostingList-comment {
  height: 27px;
  position: relative;
  width: 27px;
  top: 4px
}

.JobPostingList-commentCounts {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  color: var(--variable-collection-gray-1);
  display: -webkit-box;
  font-family: "Pretendard Variable-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.48px;
  line-height: normal;
  margin-top: -1px;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: fit-content;
  top: 2px;
}

.JobPostingList-frame-29 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  gap: 20px 20px;
  position: relative;
}

.JobPostingList-frame-30 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  position: relative;
}

.JobPostingList-text-wrapper-12 {
  color: var(--variable-collection-gray-1);
  font-family: "Pretendard Variable-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -0.6px;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.JobPostingList-text-wrapper-13 {
  align-self: stretch;
  color: var(--variable-collection-gray-1);
  font-family: "Pretendard Variable-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  height: 24px;
  letter-spacing: -0.6px;
  line-height: normal;
  position: relative;
  white-space: nowrap;
}

.JobPostingList-frame-31 {
  cursor: pointer;
  align-items: center;
  background-color: var(--variable-collection-button-navy);
  border-radius: 12px;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  padding: 12px 28px;
  position: relative;
}

.JobPostingList-text-wrapper-14 {
  color: var(--variable-collection-WHITE);
  font-family: "Pretendard Variable-SemiBold", Helvetica;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: -0.6px;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.JobPostingList-line-2 {
  align-self: stretch;
  height: 1px;
  object-fit: cover;
  position: relative;
  width: 100%;
}

.JobPostingList-frame-32 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 12px;
  position: relative;
  justify-content: center;
  width: 100%;
}

.JobPostingList-frame-33 {
  align-items: center;
  border: 1px solid;
  border-color: var(--variable-collection-main-black);
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  padding: 4px 12px;
  position: relative;
}

.JobPostingList-text-wrapper-15 {
  color: var(--variable-collection-main-black);
  font-family: "Pretendard Variable-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -0.6px;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.JobPostingList-frame-34 {
  cursor: pointer;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  padding: 4px 12px;
  position: relative;
  width: 33px;
}

.JobPostingList-text-wrapper-16 {
  cursor: pointer;
  color: var(--variable-collection-main-black);
  font-family: "Pretendard Variable-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -0.6px;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}