.RecruitInfo-frame-2 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  margin-right: -120px;
  position: relative;
}

.RecruitInfo-text-wrapper {
  color: var(--variable-collection-main-black);
  font-family: "Pretendard Variable-SemiBold", Helvetica;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -0.72px;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.RecruitInfo-frame-3 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 30px;
  position: relative;
}

.RecruitInfo-frame-4 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 18px;
  position: relative;
}

.RecruitInfo-frame-5 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 5px;
  position: relative;
  width: 100%;
}

.RecruitInfo-titleAndApply {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.RecruitInfo-frame-6 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 4px;
  position: relative;
}

.RecruitInfo-text-wrapper-2 {
  color: var(--variable-collection-main-black);
  font-family: "Pretendard Variable-Regular", Helvetica;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: -0.72px;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.RecruitInfo-frame-7 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  position: relative;
}

.RecruitInfo-p {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  color: var(--variable-collection-main-black);
  display: -webkit-box;
  font-family: "Pretendard Variable-Regular", Helvetica;
  font-size: 26px;
  font-weight: 500;
  letter-spacing: -0.72px;
  line-height: normal;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  width: fit-content;
}

.RecruitInfo-line {
  height: 1px;
  object-fit: cover;
  position: relative;
  width: 1172px;
  margin-top: -7px;
}

.RecruitInfo-image {
  width: 650px;
  height: 400px;
  object-fit: cover;
  margin-top: 5px;
  margin-left: 15px;
}

.RecruitInfo-frame-8 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 5px;
  position: relative;
  width: 100%;
  left: 15px;
  margin-top: 15px;
  word-wrap: break-word;
  width: 100%;
}

.RecruitInfo-frame-9 {
  position: relative;
  margin-bottom: 20px;
  width: 1070px;
}

.RecruitInfo-text-wrapper-3 {
  color: var(--variable-collection-gray-1);
  font-family: "Pretendard Variable-Regular", Helvetica;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -0.6px;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.RecruitInfo-text-wrapper-4 {
  color: var(--variable-collection-gray-1);
  font-family: "Pretendard Variable-Regular", Helvetica;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: -0.3px;
  line-height: normal;
  margin-top: 5px;
  position: relative;
  white-space: normal;
  width: fit-content;
  left: 35px;
}

.RecruitInfo-frame-10 {
  cursor: pointer;
  align-items: center;
  background-color: var(--variable-collection-button-navy);
  border-radius: 12px;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  padding: 12px 28px;
  position: relative;
  margin-right: 10px;
}

.RecruitInfo-text-wrapper-5 {
  color: var(--variable-collection-WHITE);
  font-family: "Pretendard Variable-SemiBold", Helvetica;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: -0.6px;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.RecruitInfo-text-wrapper-6 {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  color: var(--variable-collection-gray-1);
  display: -webkit-box;
  font-family: "Pretendard Variable-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.48px;
  line-height: normal;
  margin-top: -1px;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: fit-content;
  left: 5px;
}

.RecruitInfo-frame-11 {
  margin-top: 10px;
  margin-bottom: 3px;
}


.RecruitInfo-scrapAndComment {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 14px;
  position: relative;
  width: 100%;
  left: -4px;
  margin-top: 5px;
}

.RecruitInfo-scrap-wrapper {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  position: relative;
}

.RecruitInfo-scrap {
  cursor: pointer;
  height: 33px;
  position: relative;
  width: 33px;
}

.scraped {
  filter: sepia(90%) saturate(250%) hue-rotate(30deg) brightness(140%) contrast(90%);
}

.RecruitInfo-scrapCounts {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  color: var(--variable-collection-gray-1);
  display: -webkit-box;
  font-family: "Pretendard Variable-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.48px;
  line-height: normal;
  margin-top: -1px;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: fit-content;
}

.RecruitInfo-comment-wrapper {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 4px;
  position: relative;
}

.RecruitInfo-comment {
  height: 27px;
  position: relative;
  width: 27px;
  top: 4px
}

.RecruitInfo-commentCounts {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  color: var(--variable-collection-gray-1);
  display: -webkit-box;
  font-family: "Pretendard Variable-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.48px;
  line-height: normal;
  margin-top: -1px;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: fit-content;
  top: 3px;
}