.EditInformation-div {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 20px;
  left: 382px;
  position: absolute;
  top: 176px;
  width: 1228px;
}

.EditInformation-text-wrapper {
  color: var(--variable-collection-main-black);
  font-family: "Pretendard Variable-SemiBold", Helvetica;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -0.72px;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.EditInformation-frame-wrapper {
  align-items: center;
  align-self: stretch;
  background-color: #ffffff;
  border: 1px solid;
  border-color: var(--variable-collection-gray-3);
  border-radius: 16px;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  overflow: hidden;
  padding: 60px 60px 80px;
  position: relative;
  width: 100%;
}

.EditInformation-frame-2 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 55px;
  position: relative;
}

.EditInformation-frame-3 {
  align-items: flex-end;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 32px;
  position: relative;
}

.EditInformation-frame-4 {
  align-items: flex-end;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 16px;
  position: relative;
  width: 100%;
  border: 1px solid;
  border-color: var(--variable-collection-gray-2);
  border-radius: 16px;
  padding: 20px;
  height: 550px;
}

.EditInformation-label-wrapper {
  align-self: stretch;
  height: 28.13px;
  position: relative;
  width: 100%;
}

.EditInformation-label {
  color: var(--variable-collection-main-black);
  font-family: "Pretendard Variable-SemiBold", Helvetica;
  font-size: 20px;
  font-weight: 600;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: -1px;
}

.EditInformation-frame-5 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 12px;
  position: relative;
}

.EditInformation-text-field {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 4.17px;
  position: relative;
  width: 492.87px;
}

.EditInformation-label-2 {
  color: var(--variable-collection-gray-1);
  font-family: "Pretendard Variable-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: -1px;
}

.EditInformation-frame-6 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 4px;
  position: relative;
  width: 100%;
}

.EditInformation-text-field-2 {
  border: 1.04px solid;
  border-color: var(--variable-collection-gray-3);
  border-radius: 12.5px;
  flex: 1;
  flex-grow: 1;
  height: 58.35px;
  position: relative;
}

.EditInformation-text-field-3 {
  align-items: flex-start;
  background-color: var(--variable-collection-gray-3);
  border-radius: 12.5px;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  overflow: hidden;
  padding: 17px 38px;
  position: relative;
}

.EditInformation-text-wrapper-2 {
  color: #000000;
  font-family: "Pretendard Variable-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.04px;
  position: relative;
  width: fit-content;
}

.EditInformation-line {
  height: 1px;
  object-fit: cover;
  position: relative;
  width: 493px;
}

.EditInformation-text-field-4 {
  align-self: stretch;
  border: 1.04px solid;
  border-color: var(--variable-collection-gray-3);
  border-radius: 12.5px;
  height: 58.35px;
  position: relative;
  width: 100%;
}

.EditInformation-frame-7 {
  align-items: flex-start;
  align-self: stretch;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  border: 1px solid;
  border-color: var(--variable-collection-gray-2);
  border-radius: 16px;
  padding: 20px;
  height: 550px;
}

.EditInformation-frame-8 {
  align-items: flex-end;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 16px;
  position: relative;
  width: 493px;
}

.EditInformation-frame-9 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
}

.EditInformation-frame-10 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 4px;
  position: relative;
}

.EditInformation-text-field-wrapper {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 4px;
  position: relative;
}

.EditInformation-text-field-5 {
  border: 1.04px solid;
  border-color: var(--variable-collection-gray-3);
  border-radius: 12.5px;
  height: 58.35px;
  overflow: hidden;
  position: relative;
  width: 244.44px;
}

.EditInformation-label-3 {
  color: var(--variable-collection-gray-1);
  font-family: "Pretendard Variable-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 22px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 18px;
}

.EditInformation-arrow-drop-up {
  height: 24px;
  left: 204px;
  position: absolute;
  top: 18px;
  width: 24px;
}

.EditInformation-frame-11 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 4px;
  margin-top: -1px;
  position: relative;
}

.EditInformation-frame-12 {
  align-items: flex-start;
  background-color: #ffffff;
  border: 1px solid;
  border-color: var(--variable-collection-gray-3);
  border-radius: 12px;
  box-shadow: 0px 0px 10px #0000000d;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 16px 64px 16px 20px;
  position: relative;
  width: 244px;
}

.EditInformation-text-wrapper-3 {
  color: var(--variable-collection-gray-1);
  font-family: "Pretendard Variable-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.42px;
  line-height: 21px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.EditInformation-text-wrapper-4 {
  color: var(--variable-collection-gray-1);
  font-family: "Pretendard Variable-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.42px;
  line-height: 21px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.EditInformation-frame-13 {
  cursor: pointer;
  align-items: center;
  background-color: var(--variable-collection-sub-black);
  border-radius: 500px;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 10px;
  justify-content: center;
  padding: 16px 0px;
  position: absolute;
  width: 50%;
  left: 25%;
  top: 82%;
  margin: 0 auto;
  margin-top: 20px;
}

.EditInformation-frame-14 {
  cursor: pointer;
  align-items: center;
  background-color: var(--variable-collection-sub-black);
  border-radius: 500px;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 10px;
  justify-content: center;
  padding: 16px 0px;
  position: absolute;
  width: 50%;
  left: 25%;
  top: 82%;
  margin: 0 auto;
  margin-top: 20px;
}

.EditInformation-text-wrapper-5 {
  color: #ffffff;
  font-family: "Pretendard Variable-SemiBold", Helvetica;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  text-align: center;
  width: fit-content;
}

.EditInformation-frame-15 {
  cursor: pointer;
  align-items: center;
  background-color: #cd5757;
  border-radius: 500px;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 10px;
  justify-content: center;
  padding: 16px 0px;
  position: relative;
  width: 23%;
  margin-top: 40px;
  margin-left: 78%;
}

.EditInformation-text-wrapper-6 {
  color: var(--variable-collection-main-black);
  font-family: "Pretendard Variable-SemiBold", Helvetica;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  text-align: center;
  width: fit-content;
}

.error-message {
  color: red;
  margin-left: 15px;
}

.jobAndKeywordSelect-frame {
  align-items: flex-start;
  background-color: #ffffff;
  border: 1px solid;
  border-color: var(--variable-collection-gray-3);
  border-radius: 12px;
  box-shadow: 0px 0px 10px #0000000d;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 16px 64px 16px 20px;
  position: relative;
  width: 244px;
  height: 200px;
  overflow-y: scroll;
  margin-top: -5px;
}

.jobAndKeywordSelect-frame::-webkit-scrollbar {
  width: 8px;
}
.jobAndKeywordSelect-frame::-webkit-scrollbar-thumb {
  background-color: var(--variable-collection-gray-3);
  border-radius: 10px;
}
.jobAndKeywordSelect-frame::-webkit-scrollbar-track {
  background-color: none;
  margin-top: 5px;
  margin-bottom: 5px;
}
.jobAndKeywordSelect-frame::-webkit-scrollbar-thumb:hover {
  background: #666666; /* hover 시 thumb 배경색 */
}