.CommunityPage {
  background-color: #ffffff;
  height: 2347px;
  position: relative;
  width: 100%;
}

.CommunityPage-frame-4 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 60px;
  left: 310px;
  position: absolute;
  top: 176px;
  width: 1300px;
}