.JobPostingMain {
  background-color: var(--variable-collection-WHITE);
  position: relative;
  width: 100%;
  height: auto;
}

.JobPostingMain-line {
  height: 1px;
  object-fit: cover;
  width: 1300px;
  margin: 50px auto;
  display: flex;
  justify-content: center;
}

.JobPostingMain-frame-wrapper {
  margin: 20px auto;
  width: 1300px;
  padding-bottom: 100px;
}