.view-wrapper {
  background-color: #ffffff;
  box-shadow: 0px 4px 10px #0000000d;
  height: 88px;
  left: 0;
  position: fixed;
  top: 0;
  width: 1920px;
}

.view-5 {
  height: 88px;
  left: 310px;
  position: relative;
  width: 1300px;
}

.element {
  align-items: center;
  display: flex;
  gap: 27px;
  height: 88px;
  justify-content: flex-end;
  left: 1100px;
  padding: 8px 4px;
  position: absolute;
  top: 0;
  width: 200px;
}

.text-wrapper-18 {
  color: var(--variable-collection-main-black);
  font-family: "Pretendard Variable-SemiBold", Helvetica;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: -0.6px;
  line-height: normal;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.navbar {
  align-items: center;
  display: flex;
  gap: 32px;
  height: 88px;
  justify-content: center;
  left: 221px;
  padding: 3px 0px;
  position: absolute;
  top: 0;
  width: 527px;
}

.view-6 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 88px;
  justify-content: center;
  left: 0;
  padding: 22px 0px;
  position: absolute;
  top: 0;
  width: 152px;
}

.view-7 {
  background-image: url(https://cdn.animaapp.com/projects/666f9293d0304f0ceff1aa2f/releases/666f93a3d0304f0ceff1aa35/img/--@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 38px;
  position: relative;
  width: 145px;
}