.InterviewHistoryBar-frame {
  background-color: #ffffff;
  border-color: var(--variable-collection-gray-3);
  border-right-style: solid;
  border-right-width: 1px;
  height: 992px;
  left: 0;
  position: fixed;
  top: 88px;
  width: 310px;
}

.InterviewHistoryBar-frame-2 {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  gap: 4px;
  left: 27px;
  position: relative;
  top: 36px;
}

.InterviewHistoryBar-frame-3 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 28px;
  position: relative;
}

.InterviewHistoryBar-frame-4 {
  align-items: center;
  background-color: var(--variable-collection-button-navy);
  border-radius: 120px;
  display: flex;
  height: 36px;
  justify-content: center;
  padding: 8px 50px;
  position: relative;
  width: 238px;
}

.InterviewHistoryBar-text-wrapper {
  cursor: pointer;
  color: #ffffff;
  font-family: "Pretendard Variable-SemiBold", Helvetica;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: -0.48px;
  line-height: normal;
  margin-top: -0.5px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.InterviewHistoryBar-add {
  height: 16px;
  position: relative;
  width: 16px;
}

.InterviewHistoryBar-text-wrapper-2 {
  color: var(--variable-collection-gray-1);
  font-family: "Pretendard Variable-SemiBold", Helvetica;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: -0.36px;
  line-height: normal;
  position: relative;
  white-space: nowrap;
  width: fit-content;
  padding-bottom: 5px;
}

.InterviewHistoryBar-frame-5 {
  align-items: flex-start;
  background-color: #ffffff;
  border-radius: 8px;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 4px;
  padding: 8px 48px 8px 12px;
  position: relative;
}

.InterviewHistoryBar-frame-5:hover {
  background-color: var(--variable-collection-gray-3);
}

.InterviewHistoryBar-date-and-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 120%;
}

.InterviewHistoryBar-text-wrapper-3 {
  color: var(--variable-collection-gray-2);
  font-family: "Pretendard Variable-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.42px;
  line-height: normal;
  margin-top: -1px;
  position: relative;
}

.InterviewHistoryBar-frame-6 {
  cursor: pointer;
  height: 20px;
  position: relative;
  width: 195px;
}

.InterviewHistoryBar-text-wrapper-4 {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  color: var(--variable-collection-sub-black);
  display: -webkit-box;
  font-family: "Pretendard Variable-SemiBold", Helvetica;
  font-size: 14px;
  font-weight: 600;
  left: 0;
  letter-spacing: -0.42px;
  line-height: normal;
  overflow: hidden;
  position: absolute;
  text-overflow: ellipsis;
  top: 0;
  width: 195px;
}

.InterviewHistoryBar-frame-13 {
  display: flex;
  gap: 5px; 
  margin-left: auto;
}

.InterviewHistoryBar-edit {
  height: 20px;
  position: relative;
  width: 20px;
}

.InterviewHistoryBar-delete {
  height: 20px;
  position: relative;
  width: 20px;
}

.InterviewHistoryBar-edit:hover {
  cursor: pointer;
  transform: scale(1.6);
}

.InterviewHistoryBar-delete:hover {
  cursor: pointer;
  transform: scale(1.6);
}