.InterviewStart-frame {
  align-items: flex-start;
  align-self: stretch;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.InterviewStart-div {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  position: relative;
}

.InterviewStart-text-wrapper {
  color: var(--variable-collection-main-black);
  font-family: "Pretendard Variable-SemiBold", Helvetica;
  font-size: 16px;
  font-weight: 600;
  height: 27px;
  letter-spacing: -0.48px;
  line-height: 24px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: 162px;
}

.InterviewStart-frame-2 {
  height: 71px;
  position: relative;
  width: 311px;
}

.InterviewStart-p {
  color: var(--variable-collection-main-black);
  font-family: "Pretendard Variable-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 0;
  letter-spacing: -0.5px;
  line-height: 21px;
  position: absolute;
  top: -1px;
  white-space: nowrap;
}

.InterviewStart-text-wrapper-2 {
  color: var(--variable-collection-main-black);
  font-family: "Pretendard Variable-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 0;
  letter-spacing: -0.5px;
  line-height: 21px;
  position: absolute;
  top: 30px;
  white-space: nowrap;
}

.InterviewStart-text-wrapper-3 {
  color: var(--variable-collection-main-black);
  font-family: "Pretendard Variable-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 0;
  letter-spacing: -0.5px;
  line-height: 21px;
  position: absolute;
  top: 62px;
  width: 311px;
}

.InterviewStart-frame-3 {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  position: relative;
  width: 312px;
}

.InterviewStart-div-wrapper {
  align-self: stretch;
  background-color: #6c6c6c;
  border-radius: 12px;
  height: 48px;
  position: relative;
  width: 100%;
}

.InterviewStart-text-wrapper-4 {
  color: #ffffff;
  font-family: "Pretendard Variable-SemiBold", Helvetica;
  font-size: 20px;
  font-weight: 600;
  left: 104px;
  letter-spacing: -0.6px;
  line-height: normal;
  position: absolute;
  top: 11px;
  white-space: nowrap;
}

.InterviewStart-text-wrapper-5 {
  color: var(--variable-collection-gray-2);
  font-family: "Pretendard Variable-Regular", Helvetica;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: -0.36px;
  line-height: 18px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}