.InterviewPlay-overlap-group {
  height: 759px;
  left: 460px;
  position: absolute;
  top: 75px;
  width: 1000px;
}

.InterviewPlay-frame {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  gap: 32px;
  left: 68px;
  position: absolute;
  top: 88px;
  width: 864px;
  margin-top: 150px;
}

.InterviewPlay-div {
  align-items: flex-end;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  position: relative;
  width: 100%;
}

.InterviewPlay-frame-2 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 12px;
  position: relative;
  width: 100%;
}

.InterviewPlay-frame-3 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 12px;
  position: relative;
  width: 100%;
}

.InterviewPlay-frame-4 {
  align-items: center;
  background-color: var(--variable-collection-button-navy);
  border-radius: 177.08px;
  display: flex;
  flex-direction: column;
  gap: 11.81px;
  height: 24px;
  justify-content: center;
  padding: 4.72px 7.08px;
  position: relative;
  width: 24px;
}

.InterviewPlay-text-wrapper {
  color: #ffffff;
  font-family: "Pretendard Variable-Bold", Helvetica;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: -0.36px;
  line-height: normal;
  margin-left: -0.58px;
  margin-right: -0.58px;
  margin-top: -1.6px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.InterviewPlay-text-wrapper-2 {
  color: var(--variable-collection-main-black);
  flex: 1;
  font-family: "Pretendard Variable-SemiBold", Helvetica;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: -0.48px;
  line-height: normal;
  position: relative;
}

.InterviewPlay-p {
  align-self: stretch;
  color: var(--variable-collection-main-black);
  font-family: "Pretendard Variable-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.32px;
  line-height: 28.8px;
  position: relative;
}

.InterviewPlay-image-wrapper {
  position: relative;
}

.InterviewPlay-account-circle {
  height: 24px;
  position: relative;
  width: 24px;
  top: 0;
  left: 0;
}

.InterviewPlay-ellipse {
  height: 36px;
  position: absolute;
  width: 36px;
  top: -6px;
  left: -6px;
}

.InterviewPlay-frame-5 {
  align-items: flex-start;
  background-color: #ffffff;
  box-shadow: 0px 40px 4px #ffffff99;
  display: inline-flex;
  flex-direction: column;
  gap: 12px;
  left: 460px;
  padding: 50px 0px 0px;
  position: fixed; 
  top: 78px; 
}

.InterviewPlay-div-2 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 8px;
  position: relative;
}

.InterviewPlay-frame-6 {
  align-items: center;
  background-color: var(--variable-collection-gray-3);
  border-radius: 8px;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 8px;
  height: 32px;
  justify-content: center;
  padding: 4px 16px;
  position: relative;
}

.InterviewPlay-check {
  height: 6.62px;
  position: relative;
  width: 9.01px;
}

.InterviewPlay-text-wrapper-3 {
  color: var(--variable-collection-main-black);
  font-family: "Pretendard Variable-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.42px;
  line-height: normal;
  position: relative;
  width: fit-content;
}

.InterviewPlay-frame-wrapper {
  align-items: flex-start;
  background-color: #ffffff;
  border: 1px solid;
  border-color: var(--variable-collection-gray-3);
  border-radius: 12px;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 20px;
  padding: 20px 28px;
  position: relative;
  width: 1000px;
}

.InterviewPlay-frame-7 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.InterviewPlay-frame-8 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 4px;
  position: relative;
}

.InterviewPlay-text-wrapper-4 {
  align-self: stretch;
  color: var(--variable-collection-main-black);
  font-family: "Pretendard Variable-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.42px;
  line-height: normal;
  margin-top: -1px;
  position: relative;
}

.InterviewPlay-text-wrapper-5 {
  align-self: stretch;
  color: var(--variable-collection-main-black);
  font-family: "Pretendard Variable-SemiBold", Helvetica;
  font-size: 32px;
  font-weight: 600;
  letter-spacing: -0.96px;
  line-height: normal;
  position: relative;
}

.InterviewPlay-view {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  position: relative;
}

.InterviewPlay-img {
  cursor: pointer;
  height: 35.2px;
  position: relative;
  width: 35.2px;
}

.InterviewPlay-text-wrapper-6 {
  color: var(--variable-collection-main-black);
  font-family: "Pretendard Variable-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.42px;
  line-height: normal;
  position: relative;
  text-align: center;
  width: fit-content;
}

.InterviewPlay-text-wrapper-7 {
  color: var(--variable-collection-main-black);
  font-family: "Pretendard Variable-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.42px;
  line-height: normal;
  position: relative;
  text-align: center;
  width: 44px;
}