.MainBanner-view {
  background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgb(233.75, 255, 245.89) 51%);
  height: 748px;
  left: 0;
  position: absolute;
  top: 88px;
  width: 100%;
}

.MainBanner-overlap-group {
  height: 668px;
  left: 310px;
  position: relative;
  top: 80px;
  width: 1417px;
}

.MainBanner-image {
  height: 455px;
  left: 159px;
  position: absolute;
  top: 213px;
  width: 1258px;
}

.MainBanner-view-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 32px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1300px;
}

.MainBanner-view-3 {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 16px;
  position: relative;
  width: 1300px;
}

.MainBanner-frame {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  position: relative;
}

.MainBanner-p {
  color: var(--variable-collection-main-black);
  font-family: "Pretendard Variable-Medium", Helvetica;
  font-size: 32px;
  font-weight: 500;
  letter-spacing: -0.96px;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.MainBanner-text-wrapper {
  color: var(--variable-collection-main-black);
  font-family: "Pretendard Variable-ExtraBold", Helvetica;
  font-size: 64px;
  font-weight: 800;
  letter-spacing: -1.92px;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.MainBanner-view-4 {
  align-items: center;
  background-color: var(--variable-collection-button-navy);
  border-radius: 150px;
  display: flex;
  gap: 10px;
  height: 56px;
  justify-content: center;
  padding: 16px 40px;
  position: relative;
  width: 310px;
}

.MainBanner-text-wrapper-2 {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  color: #ffffff;
  font-family: "Pretendard Variable-SemiBold", Helvetica;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -0.72px;
  line-height: normal;
  margin-bottom: -1.5px;
  margin-top: -3.5px;
  position: relative;
  width: fit-content;
}