.BoardComment-frame-2 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 20px;
  position: relative;
  width: 100%;
}

.BoardComment-img {
  height: 24px;
  position: relative;
  width: 24px;
}

.BoardComment-text-wrapper-3 {
  color: var(--variable-collection-gray-1);
  flex: 1;
  font-family: "Pretendard Variable-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -0.6px;
  line-height: normal;
  margin-top: -1px;
  position: relative;
}

.BoardComment-frame-10 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 40px;
  position: relative;
  width: 100%;
}

.BoardComment-frame-11 {
  align-items: center;
  align-self: stretch;
  border: 1px solid;
  border-color: var(--variable-collection-gray-3);
  border-radius: 8px;
  display: flex;
  gap: 10px;
  height: 76px;
  padding: 8px 28px;
  position: relative;
  width: 100%;
}

.BoardComment-text-wrapper-7 {
  color: var(--variable-collection-main-black);
  flex: 1;
  font-family: "Pretendard Variable-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -0.6px;
  line-height: 30px;
  position: relative;
  border: none;
  outline: none;
}

.BoardComment-frame-12 {
  cursor: pointer;
  align-items: center;
  background-color: var(--variable-collection-button-navy);
  border-radius: 12px;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  padding: 12px 28px;
  position: relative;
}

.BoardComment-text-wrapper-8 {
  color: var(--variable-collection-WHITE);
  font-family: "Pretendard Variable-SemiBold", Helvetica;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: -0.6px;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.BoardComment-frame-13 {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  position: relative;
  width: 1120px;
}

.BoardComment-frame-15 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 12px;
  position: relative;
  width: 100%;
}

.BoardComment-frame-16 {
  align-items: center;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 8px;
  position: relative;
}

.BoardComment-text-wrapper-10 {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  color: var(--variable-collection-gray-2);
  display: -webkit-box;
  font-family: "Pretendard Variable-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -0.6px;
  line-height: normal;
  margin-top: -1px;
  overflow: hidden;
  position: relative;
  text-align: right;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: fit-content;
}

.BoardComment-frame-18 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 12px;
  position: relative;
  width: 100%;
}

.BoardComment-content-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.BoardComment-text-wrapper-12 {
  flex: 1;
  align-self: stretch;
  color: var(--variable-collection-main-black);
  font-family: "Pretendard Variable-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -0.6px;
  line-height: 36px;
  position: relative;
}

.BoardComment-icons {
  display: flex;
  gap: 4px;
  margin-left: auto;
}

.BoardComment-edit,
.BoardComment-delete {
  cursor: pointer;
  height: 24px;
  width: 24px;
}

.BoardComment-edit:hover,
.BoardComment-delete:hover {
  transform: scale(1.5);
}

.BoardComment-frame-78 {
  background-color: var(--variable-collection-main-black);
  height: 1080px;
  left: 0;
  position: fixed;
  top: 0;
  width: 1920px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.BoardComment-frame-79 {
  align-items: center;
  background-color: #ffffff;
  border-radius: 12px;
  display: inline-flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  left: 737px;
  padding: 32px 24px 24px;
  position: fixed;
  top: 333px;
}

.BoardComment-frame-80 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
  position: relative;
}

.BoardComment-text-wrapper-60 {
  color: var(--variable-collection-main-black);
  font-family: "Pretendard Variable-SemiBold", Helvetica;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -0.72px;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.BoardComment-text-wrapper-61 {
  color: var(--variable-collection-gray-1);
  font-family: "Pretendard Variable-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.48px;
  line-height: 24px;
  position: relative;
  text-align: center;
  width: fit-content;
}

.BoardComment-frame-81 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  position: relative;
}

.BoardComment-frame-82 {
  cursor: pointer;
  align-items: center;
  background-color: var(--variable-collection-gray-3);
  border-radius: 8px;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  padding: 12px 80px;
  position: relative;
}

.BoardComment-text-wrapper-62 {
  color: var(--variable-collection-main-black);
  font-family: "Pretendard Variable-SemiBold", Helvetica;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: -0.6px;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.BoardComment-frame-83 {
  cursor: pointer;
  align-items: center;
  background-color: var(--variable-collection-main-black);
  border-radius: 8px;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  padding: 12px 80px;
  position: relative;
}

.BoardComment-text-wrapper-63 {
  color: #ffffff;
  font-family: "Pretendard Variable-SemiBold", Helvetica;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: -0.6px;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.BoardComment-frame-78 {
  background-color: var(--variable-collection-main-black);
  height: 1080px;
  left: 0;
  position: fixed;
  top: 0;
  width: 1920px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.BoardComment-frame-79 {
  align-items: center;
  background-color: #ffffff;
  border-radius: 12px;
  display: inline-flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  left: 737px;
  padding: 32px 24px 24px;
  position: fixed;
  top: 333px;
}

.BoardComment-frame-80 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
  position: relative;
}

.BoardComment-text-wrapper-60 {
  color: var(--variable-collection-main-black);
  font-family: "Pretendard Variable-SemiBold", Helvetica;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -0.72px;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.BoardComment-text-wrapper-61 {
  color: var(--variable-collection-gray-1);
  font-family: "Pretendard Variable-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.48px;
  line-height: 24px;
  position: relative;
  text-align: center;
  width: fit-content;
}

.BoardComment-frame-81 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  position: relative;
}

.BoardComment-frame-82 {
  cursor: pointer;
  align-items: center;
  background-color: var(--variable-collection-gray-3);
  border-radius: 8px;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  padding: 12px 80px;
  position: relative;
}

.BoardComment-text-wrapper-62 {
  color: var(--variable-collection-main-black);
  font-family: "Pretendard Variable-SemiBold", Helvetica;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: -0.6px;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.BoardComment-frame-83 {
  cursor: pointer;
  align-items: center;
  background-color: var(--variable-collection-main-black);
  border-radius: 8px;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  padding: 12px 80px;
  position: relative;
}

.BoardComment-text-wrapper-63 {
  color: #ffffff;
  font-family: "Pretendard Variable-SemiBold", Helvetica;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: -0.6px;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.BoardComment-frame-84 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
  position: relative;
}

.BoardComment-edit-textarea {
  width: 380px;
  height: 100px;
  resize: none;
  overflow-y: auto;
  border-radius: 8px;
  color: var(--variable-collection-main-black);
  text-align: left;
  padding-left: 8px;
  padding-right: 8px;
}
.BoardComment-edit-textarea::-webkit-scrollbar {
  width: 8px;
}
.BoardComment-edit-textarea::-webkit-scrollbar-thumb {
  background-color: var(--variable-collection-gray-3);
  border-radius: 5px;
}
.BoardComment-edit-textarea::-webkit-scrollbar-track {
  background-color: none;
  margin-top: 2px;
  margin-bottom: 2px;
}
.BoardComment-edit-textarea::-webkit-scrollbar-thumb:hover {
  background: #666666; /* hover 시 thumb 배경색 */
}