.Board-frame-2 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 20px;
  position: relative;
  width: 100%;
}

.Board-frame-blue {
  align-items: center;
  background-color: #0b7fff;
  border-radius: 4px;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  padding: 4px 8px;
  position: relative;
}

.Board-frame-navy {
  align-items: center;
  background-color: #001065;
  border-radius: 4px;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  padding: 4px 8px;
  position: relative;
}

.Board-text-wrapper {
  color: var(--variable-collection-WHITE);
  font-family: "Pretendard Variable-SemiBold", Helvetica;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: -0.42px;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.Board-frame-4 {
  height: 109px;
  position: relative;
  width: 517px;
}

.Board-frame-5 {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 12px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1176px;
}

.Board-icons {
  display: flex;
  gap: 8px;
  padding-right: 10px;
}

.Board-icons img {
  cursor: pointer;
  height: 30px;
  width: 30px;
}

.Board-icons img:hover {
  transform: scale(1.3);
}

.Board-p {
  color: var(--variable-collection-main-black);
  font-family: "Pretendard Variable-SemiBold", Helvetica;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -0.72px;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.Board-text-wrapper-2 {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  color: var(--variable-collection-gray-2);
  display: -webkit-box;
  font-family: "Pretendard Variable-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -0.6px;
  line-height: normal;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: fit-content;
  margin-top: 42px;
}

.Board-frame-6 {
  align-items: center;
  display: flex;
  gap: 8px;
  height: 24px;
  left: 0;
  position: absolute;
  top: 85px;
  width: 1176px;
}

.Board-img {
  height: 24px;
  position: relative;
  width: 24px;
}

.Board-text-wrapper-3 {
  color: var(--variable-collection-gray-1);
  flex: 1;
  font-family: "Pretendard Variable-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -0.6px;
  line-height: normal;
  margin-top: -1px;
  position: relative;
}

.Board-text-wrapper-4 {
  color: var(--variable-collection-main-black);
  font-family: "Pretendard Variable-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -0.6px;
  line-height: 36px;
  position: relative;
  width: 1176px;
  white-space: pre-wrap;
}

.Board-frame-78 {
  background-color: var(--variable-collection-main-black);
  height: 1080px;
  left: 0;
  position: fixed;
  top: 0;
  width: 1920px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.Board-frame-79 {
  align-items: center;
  background-color: #ffffff;
  border-radius: 12px;
  display: inline-flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  left: 737px;
  padding: 32px 24px 24px;
  position: fixed;
  top: 333px;
}

.Board-frame-80 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
  position: relative;
}

.Board-text-wrapper-60 {
  color: var(--variable-collection-main-black);
  font-family: "Pretendard Variable-SemiBold", Helvetica;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -0.72px;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.Board-text-wrapper-61 {
  color: var(--variable-collection-gray-1);
  font-family: "Pretendard Variable-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.48px;
  line-height: 24px;
  position: relative;
  text-align: center;
  width: fit-content;
}

.Board-frame-81 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  position: relative;
}

.Board-frame-82 {
  cursor: pointer;
  align-items: center;
  background-color: var(--variable-collection-gray-3);
  border-radius: 8px;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  padding: 12px 80px;
  position: relative;
}

.Board-text-wrapper-62 {
  color: var(--variable-collection-main-black);
  font-family: "Pretendard Variable-SemiBold", Helvetica;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: -0.6px;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.Board-frame-83 {
  cursor: pointer;
  align-items: center;
  background-color: var(--variable-collection-main-black);
  border-radius: 8px;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  padding: 12px 80px;
  position: relative;
}

.Board-text-wrapper-63 {
  color: #ffffff;
  font-family: "Pretendard Variable-SemiBold", Helvetica;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: -0.6px;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}
